@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.btn-big {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: larger;
}

.primary {
    background-color: #3aba99;
    border: #3aba99 solid 1px;
    margin: 1px;
    color: white;
}

.primary:hover {
    border-width: 2px;
    margin: 0px;
    transition: all 10ms;
}

.primary:active {
    border-width: 0px;
    margin: 2px;
    transition: all 10ms;
}

.auth-form>input {
    display: block;
    margin-bottom: 0.5rem;

    padding: 0.5rem 1em;
    border-radius: 0.3rem;
    border: #ccc 1px solid;
    width: 400px;
}

.auth-form>input[type="submit"] {
    width: auto;
}

.table {
    width: 100%;
}

.table td,
.table th {
    border: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
}

.table th {
    text-align: start;
}